<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="__${viewDistPath}__/silbato/fragments/metas :: metas">
    <title></title>
</head>

<body>

<div th:include="__${viewDistPath}__/silbato/fragments/navbar :: navbar"></div>
<div th:include="__${viewDistPath}__/silbato/fragments/header :: header"></div>

<div ng-app="BlogApp" ng-controller="BlogController">

    <div class="blog" th:if="${error404}">
        <div class="container">
            <div class="row text-center">
                <h1>Error 404</h1>
                <img src="/images/error404.png" />
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <nav class="custom navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header block-navbar">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav sidebar-links">
                                    <li th:text="#{blog.text.latest.ten}">
                                        LATEST 10 POSTS
                                    </li>
                                    <li th:each="post : ${lastTen}">
                                        <a th:href="'/blog/'+${post.permalink}" th:text="${post.title}">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-8 post" th:each="post, iterStat : ${posts}">
                    <h2 th:text="${post.title}"></h2>
                    <p></p>
                    <p class="lead" th:utext="${post.introPost}"></p>
                    <a th:href="'/blog/'+${post.permalink}" th:text="#{blog.text.read.more}">Read More...</a>
                    <hr />
                    <div class="social">
                        <a href=""
                           class="glyphicon glyphicon-thumbs-up like"
                           th:id="'social'+${post.id}"
                           th:attr="
                           ng-click='blotoggle('
                           + ${post.id} + ','
                           + ${iterStat.index} +
                           ')'"></a>
                        <span><b th:text="'{{posts[' + ${iterStat.index}+ '].likes}}'">0</b> likes</span>
                        <span><b th:text="${post.hits}"></b> hits</span>
                        <span><b th:text="${post.comments}"></b> comments</span>
                    </div>
                    <hr />
                    Posted by <i th:text="${post.author}">author</i> @  <i th:text="${post.blodate}">blodate</i>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="silbato/fragments/block_static :: block_static"></div>

</div>

<div th:replace="__${viewDistPath}__/silbato/fragments/pages :: pages"></div>
<div th:replace="__${viewDistPath}__/silbato/fragments/footer :: footer"></div>

<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/json3/lib/json3.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>

<script src="/scripts/app/blog.js"></script>
<script src="/scripts/service/blog.js"></script>

</body>

</html>
