<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/silbato/fragments/metas :: metas">
    <title></title>
</head>

<body>

<div th:include="/silbato/fragments/navbar :: navbar"></div>
<div th:include="/silbato/fragments/header :: header"></div>

<div>

    <div th:each="block : ${blocks}">
        <div th:utext="${#strings.replace(block.content,'\n',T(java.lang.System).getProperty('line.separator'))}">_CONTENT</div>
    </div>

    <div th:replace="/silbato/fragments/block_static :: block_static"></div>

</div>

<div th:replace="/silbato/fragments/pages :: pages"></div>
<div th:replace="/silbato/fragments/footer :: footer"></div>

</body>

</html>
