<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="silbato/fragments/metas :: metas">
    <title></title>
</head>

<body>

<div th:include="silbato/fragments/navbar :: navbar"></div>
<div th:include="silbato/fragments/header :: header"></div>

<div th:fragment="main">

    <div class="static" th:if="${error404}">
        <div class="container">
            <div class="row text-center">
                <img src="/images/error404.png" />
                <p class="lead">
                    This page has not been found.
                </p>
            </div>
        </div>
    </div>

    <div class="static">
        <div class="container" th:each="staticPage : ${staticPages}">
            <div class="row">
                <h2 th:text="${staticPage.title}">_TITLE</h2>
                <br />
                <div th:utext="${staticPage.content}">
                    _CONTENT
                </div>
            </div>
        </div>
    </div>

    <div th:replace="silbato/fragments/block_static :: block_static"></div>

</div>

    <div class="pages">
        <div class="row">
            <div class="col-xs-3 col-md-3" th:each="page : ${pages}">
                <a href="#" th:href="@{'/page/'+${page.permalink}}" th:text="${page.title}">_TITLE</a>
            </div>
        </div>
    </div>

    <div th:replace="silbato/fragments/footer :: footer"></div>

</body>

</html>
