<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="__${viewDistPath}__/silbato/fragments/metas :: metas">
    <title></title>
</head>

<body>

<div th:include="__${viewDistPath}__/silbato/fragments/navbar :: navbar"></div>
<div th:include="__${viewDistPath}__/silbato/fragments/header :: header"></div>

<div>

    <div class="container">
        <div class="row">
            <div class="register">
                <h1 th:text="#{user.text.register}">Register</h1>
                <hr />
                <form method="post" th:action="@{/user/register}" th:object="${user}">

                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordVerify')}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Password</span>
                            <p th:errors="*{passwordVerify}"></p>
                    </div>

                    <div class="alert alert-info" role="alert" th:if="${#fields.hasErrors()}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> There are some errors!</span>
                        <ul>
                            <li th:if="${#fields.hasErrors('username')}">Username <p th:errors="*{username}"></p></li>
                            <li th:if="${#fields.hasErrors('password')}">Password <p th:errors="*{password}"></p></li>
                            <li th:if="${#fields.hasErrors('firstName')}">First Name <p th:errors="*{firstName}"></p></li>
                            <li th:if="${#fields.hasErrors('lastName')}">Last Name <p th:errors="*{lastName}"></p></li>
                            <li th:if="${#fields.hasErrors('email')}">Email <p th:errors="*{email}"></p></li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="username" th:text="#{user.text.username}">Username *</label>
                        <input type="text" class="form-control" id="username" name="username" th:field="*{username}" />
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{user.text.password}">Password *</label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" />
                    </div>
                    <div class="form-group">
                        <label for="passwordVerify" th:text="#{user.text.password.verify}">Re-Type Password *</label>
                        <input type="password" class="form-control" id="passwordVerify" name="passwordVerify" th:field="*{passwordVerify}" />
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{user.text.email}">Email address *</label>
                        <input type="email" class="form-control" id="email" name="email" th:field="*{email}" />
                    </div>
                    <div class="form-group">
                        <label for="firstName" th:text="#{user.text.firstName}">First Name *</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}" />
                    </div>
                    <div class="form-group">
                        <label for="lastname" th:text="#{user.text.lastName}">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" th:text="#{button.submit}">Submit</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="__${viewDistPath}__/silbato/fragments/block_static :: block_static"></div>

</div>

<div th:replace="__${viewDistPath}__/silbato/fragments/pages :: pages"></div>
<div th:replace="__${viewDistPath}__/silbato/fragments/footer :: footer"></div>

</body>

</html>
