<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="__${viewDistPath}__/authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="__${viewDistPath}__/authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <div th:with="text=#{block.text.title}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content">

        <form class="form-horizontal" method="post" th:action="@{'/admin/block/new'}">
            <div class="form-group title">
                <h4 th:text="#{block.text.new}">New Homepage Block</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label" th:text="#{block.text.name}">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control short" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label" th:text="#{block.text.content}">Content</label>
                <div class="col-sm-10">
                    <textarea name="content" class="summernote" rows="5" id="content"></textarea>
                    <progress></progress>
                </div>
            </div>
            <div class="form-group" th:if="${multiLanguage}">
                <label for="code" class="col-sm-2 control-label" th:text="#{block.text.code}">Code</label>
                <div class="col-sm-10">
                    <div th:replace="authorized/fragments/languages :: languages"></div>
                </div>
            </div>
            <div class="form-group" th:unless="${multiLanguage}">
                <input type="hidden" name="code" th:value="${mainLanguage}" />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.create}">Create</button>
                    <a href="/admin/block" class="btn btn-default" th:text="#{button.cancel}">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>

<div th:replace="__${viewDistPath}__/authorized/fragments/footer :: footer"></div>

</body>
</html>

