<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <!-- Content -->
    <div th:with="text='root'" th:fragment="main">

        <div th:include="authorized/fragments/linkbar :: linkbar"></div>

        <div class="box-content">
            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            <b th:text="#{dashboard-title}">Dashboard Panel</b>
            <span class="label label-custom pull-right"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b></span>
            <hr />
            <div class="row box-text">
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b>Menu</b>
                    <hr />
                    <a href="/admin/settings" th:text="#{dashboard-settings}"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> _GLOBAL_SETTINGS</a>
                    <br />
                    <a href="/admin/profile">My Profile</a>
                    <br />
                    <a href="/admin/homepage" th:text="#{homepage-settings}">_HOMEPAGE_BLOCKS</a>
                    <br />
                    <a href="/admin/newsletter" th:text="#{newsletter-settings}">_NEWSLETTER</a>
                    <br />
                    <a href="/admin/mailing-list" th:text="#{mailing-list-settings}">_MAILING_LIST</a>
                    <br />
                    <a href="/admin/page">Static Pages</a>
                </div>
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b>Portal</b>
                    <hr />
                    <span>Total Pages <span class="badge" th:text="${totalPages}">0</span></span>
                    <br />
                    <span>Blocks <span class="badge" th:text="${totalBlocks}">0</span></span>
                    <br />
                    <span>Registered Users <span class="badge" th:text="${totalUsers}">0</span></span>
                </div>
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b>Shorcuts</b>
                    <hr />
                    <a href="/">Site Preview</a>
                    <br />
                    <a href="/admin/homepage/new">New Homepage Block</a>
                    <br />
                    <a href="#">Add New User</a>
                    <br />
                    <a href="/admin/page/new">Create New Static Page</a>
                    <hr />
                    <div class="alert alert-info" role="alert">
                        <a href="http://docs.balerocms.com/">Documentaion</a>
                        <br />
                        <a href="mailto:support@balerocms.com">support@balerocms.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

</div>
<!-- /container -->

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

