<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <!-- Content -->
    <div th:with="text='root'" th:fragment="main">

        <div th:include="authorized/fragments/linkbar :: linkbar"></div>

        <div class="box-content">
            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            <b th:text="#{dashboard.title}">Dashboard Panel</b>
            <span class="label label-custom pull-right"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b></span>
            <hr />
            <div class="row box-text">
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b>Menu</b>
                    <hr />
                    <a href="/admin/settings" th:text="#{dashboard.settings}"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> _GLOBAL_SETTINGS</a>
                    <br />
                    <a href="/admin/profile" th:text="#{dashboard.profile}">My Profile</a>
                    <br />
                    <a href="/admin/homepage" th:text="#{dashboard.blocks}">_HOMEPAGE_BLOCKS</a>
                    <br />
                    <a href="/admin/newsletter" th:text="#{dashboard.newsletter}">_NEWSLETTER</a>
                    <br />
                    <a href="/admin/mailing-list" th:text="#{dashboard.mailing.list}">_MAILING_LIST</a>
                    <br />
                    <a href="/admin/page">Static Pages</a>
                </div>
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b th:text="#{dashboard.portal}">Portal</b>
                    <hr />
                    <span th:text="#{dashboard.total.pages}">Total Pages </span> <span class="badge" th:text="${totalPages}">0</span>
                    <br />
                    <span th:text="#{dashboard.blocks}">Blocks </span> <span class="badge" th:text="${totalBlocks}">0</span>
                    <br />
                    <span th:text="#{dashboard.users}">Registered Users </span> <span class="badge" th:text="${totalUsers}">0</span>
                </div>
                <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <b>Shorcuts</b>
                    <hr />
                    <a href="/" th:text="#{dashboard.preview}">Site Preview</a>
                    <br />
                    <a href="/admin/homepage/new" th:text="#{dashboard.new.block}">New Homepage Block</a>
                    <br />
                    <a href="#" th:text="#{dashboard.new.user}">Add New User</a>
                    <br />
                    <a href="/admin/page/new" th:text="#{dashboard.new.page}">Create New Static Page</a>
                    <hr />
                    <div class="alert alert-info" role="alert">
                        <a href="http://docs.balerocms.com/" th:text="#{dashboard.documentation}">Documentaion</a>
                        <br />
                        <a href="mailto:support@balerocms.com">support@balerocms.com</a>
                    </div>
                </div>
                <div class="container" sec:authorize="hasRole('ROLE_USER')" th:each="user : ${users}">
                    <div class="row">
                        <p th:text="${user.username}">Username</p>
                        <p th:text="${user.firstName}">firstName</p>
                        <p th:text="${user.lastName}">lastName</p>
                        <p th:text="${user.email}">email</p>
                        <a th:href="@{'/user/mailing-list/subscribe/'+${user.id}+'?status=1'}" th:if="${user.subscribed == 0}" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Subscribe</a>
                        <a th:href="@{'/user/mailing-list/subscribe/'+${user.id}+'?status=0'}" th:if="${user.subscribed == 1}" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Unsubscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

</div>
<!-- /container -->

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

