<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <!-- Content -->
    <div th:fragment="main">

        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
        </div>

        <!-- Main component for a primary marketing message or call to action -->

        <div class="box-content">
            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            <b th:text="#{dashboard-title}">Dashboard Panel</b>
            <span class="label label-custom pull-right"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b></span>
            <hr />
            <div class="row box-text">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Content</th>
                        <th>Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="block : ${homepage}">
                        <td th:text="${block.id}">_ID</td>
                        <td th:text="${block.content}">_CONTENT</td>
                        <td th:text="${block.code}">_CODE</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Content -->

</div>
<!-- /container -->

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

