<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="__${viewDistPath}__/authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="__${viewDistPath}__/authorized/fragments/navbar :: navbar"></div>

<div class="container" ng-app="MediaApp" ng-controller="MediaController" nv-file-drop="" uploader="uploader">

    <div th:with="text=#{media.text.title}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content">

            <div class="form-horizontal">
                <div class="form-group title">
                    <h4>Media</h4>
                </div>
                <hr />
                <div class="row pull-right">
                    <button class="btn btn-primary" ng-model="status.selectedAll" ng-click="checkAll()">
                        <span class="glyphicon glyphicon-{{status.icon}}"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="removeFiles()">
                        <span class="glyphicon glyphicon-trash"></span> ({{deleteQueue.length}})
                    </button>
                </div>
                <br />
                <div class="row box-text" ng-init="load()">

                    <div id="spinner"></div>
                    <div class="gallery" ng-repeat="upload in uploads">
                        <!--{{ uploads | json }}-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                            <img src="/images/uploads/{{upload.fileName}}" title="{{upload.fileName}}" class="img-gallery img-thumbnail" />
                            <p class="text-thumbnail">{{upload.width}} x {{upload.height}}</p>
                            <br />
                            <input type="checkbox" ng-change="addRow($index, upload.fileName)" ng-model="chk[$index]" />
                            <!-- debug
                            {{ deleteQueue | json }}
                            {{ chk[$index] }}
                            {{ upload.fileName }}
                            -->
                        </div>
                    </div>

                    <hr />

                    <div>
                        <div ng-show="uploader.isHTML5">
                            <!-- 3. nv-file-over uploader="link" over-class="className" -->
                            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                <span th:text="#{media.text.drop.zone}">Base drop zone (*jpg,*png,*jpeg,*bmp,*gif)</span>
                            </div>
                        </div>
                        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                        <input type="file" nv-file-select="" uploader="uploader" th:multiple="multiple" /><br/>
                    </div>

                    <div style="margin-bottom: 40px">
                        <h3 th:text="#{media.text.queue}">The queue</h3>
                        <p><span th:text="#{media.text.queue.lenght}">Queue length:</span> {{ uploader.queue.length }}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%" th:text="#{media.text.name}">Name</th>
                                <th ng-show="uploader.isHTML5" th:text="#{media.text.size}">Size</th>
                                <th ng-show="uploader.isHTML5" th:text="#{media.text.progress}">Progress</th>
                                <th th:text="#{media.text.status}">Status</th>
                                <th th:text="#{media.text.action}">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" th:nowrap="nowrap">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td th:nowrap="nowrap">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        <span th:text="#{media.text.upload}">Upload</span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                        <span th:text="#{media.text.cancel}">Cancel</span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span th:text="#{media.text.remove}">Remove</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div>
                            <div>
                                <span th:text="#{media.text.queue.progress}">Queue Progress</span>
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span th:text="#{media.text.upload.all}">Upload All</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <span th:text="#{media.text.cancel.all}">Cancel All</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span th:text="#{media.text.remove.all}">Remove All</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

    </div>

</div>

<div th:replace="__${viewDistPath}__/authorized/fragments/footer :: footer"></div>

</body>
</html>

