<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <div th:with="text=#{static.page.title}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content">

        <form class="form-horizontal" method="post" th:action="@{'/admin/page/new'}">
            <div class="form-group title">
                <h4 th:text="#{static.page.new}">New Static Page</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label" th:text="#{static.page.name}">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control short" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label" th:text="#{static.page.title}">Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control short" id="title" />
                </div>
            </div>
            <div class="form-group" th:if="${multiLang}">
                <label for="code" class="col-sm-2 control-label" th:text="#{static.page.code}">Code</label>
                <div class="col-sm-10">
                    <div th:include="authorized/fragments/languages :: languages"></div>
                </div>
            </div>
            <div class="form-group" th:unless="${multiLang}">
                <input type="hidden" name="code" th:value="${mainLanguage}" />
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label" th:text="#{static.page.content}">Content</label>
                <div class="col-sm-10">
                    <textarea name="content" class="summernote" rows="5" id="content"></textarea>
                </div>
            </div>
            <div class="form-group" th:if="${param.developer == null}">
                <label for="progress" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <progress></progress>
                </div>
            </div>
            <div class="form-group">
                <label for="permalink" class="col-sm-2 control-label" th:text="#{static.page.permalink}">Permalink</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-link"></span></span>
                        <input type="text" name="permalink" id="permalink" class="form-control" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="author" class="col-sm-2 control-label">Author</label>
                <div class="col-sm-10">
                    <input type="text" th:value="${#httpServletRequest.remoteUser}" name="author" class="form-control short" id="author" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.create}">Create</button>
                    <a href="/admin/page" class="btn btn-default" th:text="#{button.cancel}">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

