<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <div th:with="text=#{static.page.title}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content">

        <div class="alert alert-success" role="alert" th:if="${success}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="#{success.saved}"> _SUCCESS</span>
        </div>

        <form class="form-horizontal" method="post" th:each="page : ${pages}" th:action="@{'/admin/page/'+${page.id}}">
            <div class="form-group title">
                <h4 th:text="#{static.page.edit}">Edit Static Page</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label" th:text="#{static.page.name}">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control short" id="name" th:value="${page.name}" />
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label" th:text="#{static.page.titlepage}">Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control short" id="title" th:value="${page.title}" />
                </div>
            </div>
            <div class="form-group" th:if="${multiLang}">
                <label for="code" class="col-sm-2 control-label" th:text="#{static.page.code}">Code</label>
                <div class="col-sm-10">
                    <div th:with="text=${page.code}" th:include="authorized/fragments/languages :: languages"></div>
                </div>
            </div>
            <div class="form-group" th:if="${!multiLang}">
                <input type="hidden" name="code" th:value="${page.code}" />
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label" th:text="#{static.page.content}">Content</label>
                <div class="col-sm-10">
                    <textarea name="content" class="txtEditor" rows="5" id="content" th:text="${page.content}" th:if="${param.developer}"></textarea>
                    <textarea name="content" class="summernote" rows="5" id="content" th:text="${page.content}" th:if="${param.developer == null}"></textarea>
                </div>
            </div>
            <div class="form-group" th:if="${param.developer == null}">
                <label for="progress" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <progress></progress>
                </div>
            </div>
            <div class="form-group">
                <label for="permalink" class="col-sm-2 control-label" th:text="#{static.page.permalink}">Permalink</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-link"></span></span>
                        <input type="text" th:value="${page.permalink}" name="permalink" id="permalink" class="form-control" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="author" class="col-sm-2 control-label" th:text="#{static.page.author}">Author</label>
                <div class="col-sm-10">
                    <input type="text" th:value="${page.author}" name="author" class="form-control short" id="author" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    <a href="/admin/page" class="btn btn-default" th:text="#{button.cancel}">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

