<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <div th:with="text=#{navbar.global.settings}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content" ng-app="PropertyApp" ng-controller="PropertyController">
        <form class="form-horizontal" method="post" th:action="@{/admin/settings}">
            <div class="form-group title">
                <h4 th:text="#{properties.text.title}">Properties</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="toggle1" class="col-sm-2 control-label valign" th:text="#{properties.text.status}">Status</label>
                <div class="col-sm-10">
                    <input type="checkbox" name="toggle1" id="toggle1" class="toggle toggle-warning" ng-model="properties.offline" ng-change="blotoggle()" value="" />
                    <label for="toggle1"></label>
                    <!-- offline->{{properties.offline}} -->
                </div>
            </div>
            <div class="form-group">
                <label for="toggle2" class="col-sm-2 control-label valign" th:text="#{properties.text.multi.language}">Multi Language</label>
                <div class="col-sm-10">
                    <input type="checkbox" name="toggle2" id="toggle2" class="toggle" ng-model="properties.multiLanguage" ng-change="blotoggle()" value="" />
                    <label for="toggle2"></label>
                </div>
            </div>
        </form>
    </div>

    <div class="box-content">

        <div class="alert alert-success" role="alert" th:if="${success}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="#{success.saved}"> _SUCCESS</span>
        </div>

        <form class="form-horizontal" method="post" th:action="@{/admin/settings}">
            <div class="form-group title">
                <h4 th:text="#{settings.text.header}">Global Settings</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label" th:text="#{settings.text.title}">Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control short" id="title" th:value="${settings.title}" />
                </div>
            </div>
            <!-- Properties -->
            <div class="form-group">
                <label for="administratorEmail" class="col-sm-2 control-label" th:text="#{properties.text.administrator.email}">Administrator Email</label>
                <div class="col-sm-10">
                    <input type="text" name="administratorEmail" class="form-control short" id="administratorEmail" th:value="${properties.administratorEmail}" />
                </div>
            </div>
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label" th:text="#{properties.text.url}">URL</label>
                <div class="col-sm-10">
                    <input type="text" name="url" class="form-control short" id="url" th:value="${properties.url}" />
                </div>
            </div>
            <div class="form-group">
                <label for="mainLanguage" class="col-sm-2 control-label" th:text="#{settings.text.main.language}">Main Language</label>
                <div class="col-sm-10">
                    <select class="form-control" name="mainLanguage" id="mainLanguage">
                        <option th:value="${properties.mainLanguage}" th:text="'Default ('+${properties.mainLanguage}+')'"></option>
                        <option value="en" th:text="#{text.en}">English</option>
                        <option value="es" th:text="#{text.es}">Español</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="template" class="col-sm-2 control-label" th:text="#{properties.text.template}">Template</label>
                <div class="col-sm-10">
                    <select class="form-control" name="template" id="template">
                        <option th:value="${properties.template}" th:text="'Current ('+${properties.template}+')'"></option>
                        <option
                                th:value="${template.name}"
                                th:text="${template.name}"
                                th:each="template : ${templates}">Template</option>
                    </select>
                </div>
            </div>
            <!-- /Properties -->
            <div class="form-group">
                <label for="tags" class="col-sm-2 control-label" th:text="#{settings.text.tags}">Site Tags</label>
                <div class="col-sm-10">
                    <input type="text" name="tags" class="form-control short" id="tags" th:value="${settings.tags}" />
                </div>
            </div>
            <div class="form-group">
                <label for="titleHeader" class="col-sm-2 control-label" th:text="#{settings.text.slogan}">Header Title or Slogan</label>
                <div class="col-sm-10">
                    <textarea name="titleHeader" class="summernote" rows="5" id="titleHeader" th:text="${settings.titleHeader}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="footer" class="col-sm-2 control-label" th:text="#{settings.text.footer}">Footer</label>
                <div class="col-sm-10">
                    <textarea name="footer" class="summernote" rows="5" id="footer" th:text="${settings.footer}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="offlineMessage" class="col-sm-2 control-label" th:text="#{settings.text.offline.message}">Offline Message</label>
                <div class="col-sm-10">
                    <textarea name="offlineMessage" class="summernote" rows="5" id="offlineMessage" th:text="${settings.offlineMessage}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="progress" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <progress></progress>
                </div>
            </div>
            <div class="form-group">
                <label for="version" class="col-sm-2 control-label">SW Version</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control short" id="version" th:value="${version}" th:readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    <button type="reset" class="btn btn-default" th:text="#{button.cancel}">Cancel</button>
                </div>
            </div>
        </form>

    </div>

</div>

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

