<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="/authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <div th:with="text=#{user.text.title}" th:include="authorized/fragments/linkbar :: linkbar"></div>

    <div class="box-content">

        <div class="alert alert-success" role="alert" th:if="${success}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span th:text="#{success.saved}"> _SUCCESS</span>
        </div>

        <form class="form-horizontal" method="post" th:each="user : ${users}" th:action="@{'/admin/user/'+${user.id}}">
            <div class="form-group title">
                <h4 th:text="#{user.text.edit}">Edit Email</h4>
            </div>
            <hr />
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label" th:text="#{user.text.username}">Username</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control short" id="username" th:value="${user.username}" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label" th:text="#{user.text.firstName}">First Name</label>
                <div class="col-sm-10">
                    <input type="text" name="firstName" class="form-control short" id="firstName" th:value="${user.firstName}" />
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label" th:text="#{user.text.lastName}">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastName" class="form-control short" id="lastName" th:value="${user.lastName}" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label" th:text="#{user.text.email}">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control short" id="email" th:value="${user.email}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    <a href="/admin/user" class="btn btn-default" th:text="#{button.cancel}">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>

<div th:replace="/authorized/fragments/footer :: footer"></div>

</body>
</html>

