<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${message}">Thanks!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <img src="/images/mail.png" class="center" />
        <div class="alert alert-info text-center" role="alert">
            <p th:text="#{mail.list.thanks}">Thank you!</p>
            <p><a href="/" th:text="#{mail.list.home}">Home</a></p>
        </div>
    </div>
</div>
</body>
</html>