<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${message}">Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/page/offline.css}" />
</head>
<body>
<div>
    <div class="row" th:each="setting : ${settings}">
        <p th:utext="${setting.offlineMessage}">_OFFLINE_MESSAGE_WARNING</p>
        <br />
        <form action="/user/subscribe" method="post">
            <input type="text" name="firstname" class="form-control" placeholder="Your Name" />
            <br />
            <input type="email" name="email" class="form-control" placeholder="Your E-mail" />
            <br />
            <button th:text="#{offline.subscribe}" class="pull-right btn btn-lg btn-default" type="submit">_SUBSCRIBE</button>
        </form>
    </div>
</div>
</body>
</html>