<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>

<div th:fragment="footer">

    <!-- Footer -->
    <p class="footer-text">
        <a href="http://www.balerocms.com">Powered by BaleroCMS.</a>
    </p>

    <!-- Footer Scripts -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script src="/scripts/app/property.js"></script>
    <script src="/scripts/service/property.js"></script>
    <script src="/scripts/app/user.js"></script>
    <script src="/scripts/service/user.js"></script>
    <script src="/scripts/app/profile.js"></script>
    <script src="/scripts/service/profile.js"></script>
    <script src="/scripts/app/dashboard.js"></script>
    <script src="/scripts/service/dashboard.js"></script>

</div>

</body>
</html>

