<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:jawr="http://jarw.java.net/">

<head th:fragment="metas">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="theme-color" content="#e8040a" />
    <link rel="icon" href="../../favicon.ico" />

    <title th:text="#{dashboard.title}">Dashboard</title>

    <!--
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/vendors/summernote/summernote.css" rel="stylesheet" />
    <link href="/css/ui-elements.css" rel="stylesheet" />
    -->
    <link jawr:style="'/css/webjars.css'" />
    <link href="/authorized/css/dashboard.css" rel="stylesheet" />

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/settings-admin.js" sec:authorize="hasRole('ROLE_ADMIN')"></script>
    <script type="text/javascript" src="/js/settings-user.js" sec:authorize="hasRole('ROLE_USER')"></script>

</head>

<body>
</body>

</html>

