<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:jawr="http://jawr.java.net/">

<head>
    <title></title>
</head>

<body>

<div th:fragment="footer">

    <footer th:each="setting : ${settings}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer" th:utext="${setting.footer}">
                        _FOOTER
                    </p>
                    <p class="execute-time">
                        <span th:text="#{footer.generated.time}">Generated in:</span> <b th:text="${executeTime}">0</b>ms
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- TODO: INTEGRATION TEST NEEDED -->
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <!--
    <script src="/js/scripts.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/json3/lib/json3.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/bower_components/angular-base64/angular-base64.min.js"></script>
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/vendors/summernote/summernote.min.js" type="text/javascript"></script>
    <script src="/lib/html5shiv.js"></script>
    <script src="/lib/respond.min.js"></script>
    -->
    <script jawr:script="'/js/webjars.js'" src="#"></script>

</div>

</body>
</html>

