<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>

<div th:fragment="footer">

    <footer th:each="setting : ${settings}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer" th:utext="${setting.footer}">
                        _FOOTER
                    </p>
                    <p class="execute-time">
                        <span th:text="#{footer.generated.time}">Generated in:</span> <b th:text="${executeTime}">0</b>ms
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</div>

</body>
</html>

