<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="metas">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="description" content="" />
    <meta name="author" content="Anibal Gomez" />
    <meta name="theme-color" content="#00d6b1" />

    <title th:each="setting : ${settings}" th:text="${setting.title}">_HOME</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/silbato/css/silbato.css" rel="stylesheet" />

    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
</body>

</html>

