<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-default navbar-fixed-top background" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" th:text="${settings.title}">Demo Site</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/" th:text="#{frontend.home}">Home</a>
                    </li>
                    <li>
                        <a href="/blog" th:text="#{blog.text.title}">Blog</a>
                    </li>
                    <li>
                        <a href="/user/register" sec:authorize="isAnonymous()" th:text="#{frontend.register}">Register</a>
                        <a href="/admin/dashboard" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{frontend.dashboard}">Dashboard</a>
                        <a href="/user/dashboard" sec:authorize="hasRole('ROLE_USER')" th:text="#{frontend.dashboard}">Dashboard</a>
                    </li>
                    <li>
                        <a href="/login" sec:authorize="isAnonymous()" th:text="#{frontend.login}">Login</a>
                        <a href="/logout" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{frontend.logout}">Logout</a>
                        <a href="/logout" sec:authorize="hasRole('ROLE_USER')" th:text="#{frontend.logout}">Logout</a>
                    </li>
                    <li class="dropdown" th:if="${properties.multiLanguage}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span th:text="#{frontend.language}">Language</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="./?lang=en" th:text="#{text.en}">English</a></li>
                            <li><a href="./?lang=es" th:text="#{text.es}">Espa&ntilde;ol</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>

