<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>

<div th:fragment="pages">

    <div class="pages">
        <div class="row row-centered">
            <div th:each="page : ${pages}">
                <ul class="footer">
                    <li class="col-md-3">
                        <a href="#" th:href="@{'/page/'+${page.permalink}}" th:text="${page.title}">_TITLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>

</html>
